.collection-item {
    flex: 22%;
    padding: 1%;
    height: 250px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
        text-align: right;
      }
    }
  }

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .collection-item {
    flex: 40%;
    height: 40vw;
    margin-bottom: 2em;
  }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 600px) {
  .collection-item {
    flex: 80%;
    height: 70vw;
    margin-bottom: 2em;
  }
}